:root {
  --m-3white: rgba(255, 255, 255, 1);
  --m3-body-large-font-family: "Roboto", Helvetica;
  --m3-body-large-font-weight: 400;
  --m3-body-large-font-size: 16px;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-large-font-style: normal;
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(202, 196, 208, 1);
  --m3-schemes-on-surface: rgba(29, 27, 32, 1);
  --m3-schemes-outline: rgba(121, 116, 126, 1);
  --m3-schemes-surface-container: rgba(243, 237, 247, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-m3-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-m3-mode="light"] {
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(202, 196, 208, 1);
  --m3-schemes-on-surface: rgba(29, 27, 32, 1);
  --m3-schemes-outline: rgba(121, 116, 126, 1);
  --m3-schemes-surface-container: rgba(243, 237, 247, 1);
}

[data-m3-mode="light-high-contrast"] {
  --m3-schemes-surface: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(69, 65, 74, 1);
  --m3-schemes-on-surface: rgba(0, 0, 0, 1);
  --m3-schemes-outline: rgba(69, 65, 74, 1);
  --m3-schemes-surface-container: rgba(242, 236, 244, 1);
}

[data-m3-mode="light-medium-contrast"] {
  --m3-schemes-surface: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(125, 121, 131, 1);
  --m3-schemes-on-surface: rgba(29, 27, 32, 1);
  --m3-schemes-outline: rgba(97, 93, 103, 1);
  --m3-schemes-surface-container: rgba(242, 236, 244, 1);
}

[data-m3-mode="dark"] {
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(73, 69, 79, 1);
  --m3-schemes-on-surface: rgba(230, 224, 233, 1);
  --m3-schemes-outline: rgba(147, 143, 153, 1);
  --m3-schemes-surface-container: rgba(33, 31, 38, 1);
}

[data-m3-mode="dark-high-contrast"] {
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(206, 200, 212, 1);
  --m3-schemes-on-surface: rgba(255, 255, 255, 1);
  --m3-schemes-outline: rgba(206, 200, 212, 1);
  --m3-schemes-surface-container: rgba(33, 31, 36, 1);
}

[data-m3-mode="dark-medium-contrast"] {
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(134, 129, 139, 1);
  --m3-schemes-on-surface: rgba(255, 249, 255, 1);
  --m3-schemes-outline: rgba(166, 161, 171, 1);
  --m3-schemes-surface-container: rgba(33, 31, 36, 1);
}

[data-m3-mode="monochrome-LT"] {
  --m3-schemes-surface: rgba(249, 249, 249, 1);
  --m3-schemes-outline-variant: rgba(198, 198, 198, 1);
  --m3-schemes-on-surface: rgba(27, 27, 27, 1);
  --m3-schemes-outline: rgba(119, 119, 119, 1);
  --m3-schemes-surface-container: rgba(238, 238, 238, 1);
}

[data-m3-mode="monochrome-DT"] {
  --m3-schemes-surface: rgba(19, 19, 19, 1);
  --m3-schemes-outline-variant: rgba(71, 71, 71, 1);
  --m3-schemes-on-surface: rgba(226, 226, 226, 1);
  --m3-schemes-outline: rgba(145, 145, 145, 1);
  --m3-schemes-surface-container: rgba(31, 31, 31, 1);
}

[data-m3-mode="pink-LT"] {
  --m3-schemes-surface: rgba(255, 248, 248, 1);
  --m3-schemes-outline-variant: rgba(212, 194, 199, 1);
  --m3-schemes-on-surface: rgba(33, 25, 28, 1);
  --m3-schemes-outline: rgba(130, 115, 120, 1);
  --m3-schemes-surface-container: rgba(250, 234, 238, 1);
}

[data-m3-mode="pink-DT"] {
  --m3-schemes-surface: rgba(25, 17, 20, 1);
  --m3-schemes-outline-variant: rgba(80, 67, 72, 1);
  --m3-schemes-on-surface: rgba(238, 223, 227, 1);
  --m3-schemes-outline: rgba(157, 140, 146, 1);
  --m3-schemes-surface-container: rgba(37, 29, 32, 1);
}

[data-m3-mode="rose-LT"] {
  --m3-schemes-surface: rgba(255, 248, 247, 1);
  --m3-schemes-outline-variant: rgba(215, 194, 195, 1);
  --m3-schemes-on-surface: rgba(34, 25, 26, 1);
  --m3-schemes-outline: rgba(132, 115, 116, 1);
  --m3-schemes-surface-container: rgba(251, 234, 235, 1);
}

[data-m3-mode="rose-DT"] {
  --m3-schemes-surface: rgba(25, 17, 18, 1);
  --m3-schemes-outline-variant: rgba(82, 67, 69, 1);
  --m3-schemes-on-surface: rgba(240, 222, 223, 1);
  --m3-schemes-outline: rgba(159, 140, 142, 1);
  --m3-schemes-surface-container: rgba(38, 29, 30, 1);
}

[data-m3-mode="red-LT"] {
  --m3-schemes-surface: rgba(255, 248, 247, 1);
  --m3-schemes-outline-variant: rgba(216, 194, 190, 1);
  --m3-schemes-on-surface: rgba(35, 25, 24, 1);
  --m3-schemes-outline: rgba(133, 115, 112, 1);
  --m3-schemes-surface-container: rgba(252, 234, 231, 1);
}

[data-m3-mode="red-DT"] {
  --m3-schemes-surface: rgba(26, 17, 16, 1);
  --m3-schemes-outline-variant: rgba(83, 67, 65, 1);
  --m3-schemes-on-surface: rgba(241, 222, 220, 1);
  --m3-schemes-outline: rgba(160, 140, 138, 1);
  --m3-schemes-surface-container: rgba(39, 29, 28, 1);
}

[data-m3-mode="orange-LT"] {
  --m3-schemes-surface: rgba(255, 248, 245, 1);
  --m3-schemes-outline-variant: rgba(215, 194, 184, 1);
  --m3-schemes-on-surface: rgba(34, 26, 21, 1);
  --m3-schemes-outline: rgba(133, 116, 107, 1);
  --m3-schemes-surface-container: rgba(252, 234, 226, 1);
}

[data-m3-mode="orange-DT"] {
  --m3-schemes-surface: rgba(26, 18, 13, 1);
  --m3-schemes-outline-variant: rgba(82, 68, 60, 1);
  --m3-schemes-on-surface: rgba(240, 223, 215, 1);
  --m3-schemes-outline: rgba(127, 118, 103, 1);
  --m3-schemes-surface-container: rgba(39, 30, 25, 1);
}

[data-m3-mode="yellow-LT"] {
  --m3-schemes-surface: rgba(255, 248, 242, 1);
  --m3-schemes-outline-variant: rgba(208, 197, 180, 1);
  --m3-schemes-on-surface: rgba(31, 27, 19, 1);
  --m3-schemes-outline: rgba(127, 118, 103, 1);
  --m3-schemes-surface-container: rgba(247, 236, 223, 1);
}

[data-m3-mode="yellow-DT"] {
  --m3-schemes-surface: rgba(23, 19, 11, 1);
  --m3-schemes-outline-variant: rgba(77, 70, 57, 1);
  --m3-schemes-on-surface: rgba(235, 225, 212, 1);
  --m3-schemes-outline: rgba(153, 144, 128, 1);
  --m3-schemes-surface-container: rgba(36, 31, 23, 1);
}

[data-m3-mode="chartreuse-LT"] {
  --m3-schemes-surface: rgba(252, 250, 237, 1);
  --m3-schemes-outline-variant: rgba(200, 199, 183, 1);
  --m3-schemes-on-surface: rgba(27, 28, 20, 1);
  --m3-schemes-outline: rgba(120, 120, 106, 1);
  --m3-schemes-surface-container: rgba(240, 238, 225, 1);
}

[data-m3-mode="chartreuse-DT"] {
  --m3-schemes-surface: rgba(19, 20, 13, 1);
  --m3-schemes-outline-variant: rgba(71, 72, 59, 1);
  --m3-schemes-on-surface: rgba(229, 227, 214, 1);
  --m3-schemes-outline: rgba(145, 146, 130, 1);
  --m3-schemes-surface-container: rgba(32, 32, 24, 1);
}

[data-m3-mode="green-LT"] {
  --m3-schemes-surface: rgba(247, 251, 242, 1);
  --m3-schemes-outline-variant: rgba(193, 201, 190, 1);
  --m3-schemes-on-surface: rgba(24, 29, 24, 1);
  --m3-schemes-outline: rgba(113, 121, 112, 1);
  --m3-schemes-surface-container: rgba(235, 239, 231, 1);
}

[data-m3-mode="green-DT"] {
  --m3-schemes-surface: rgba(16, 21, 16, 1);
  --m3-schemes-outline-variant: rgba(66, 73, 64, 1);
  --m3-schemes-on-surface: rgba(224, 228, 219, 1);
  --m3-schemes-outline: rgba(145, 146, 130, 1);
  --m3-schemes-surface-container: rgba(28, 33, 28, 1);
}

[data-m3-mode="teal-LT"] {
  --m3-schemes-surface: rgba(244, 251, 248, 1);
  --m3-schemes-outline-variant: rgba(190, 201, 197, 1);
  --m3-schemes-on-surface: rgba(23, 29, 27, 1);
  --m3-schemes-outline: rgba(111, 121, 118, 1);
  --m3-schemes-surface-container: rgba(233, 239, 236, 1);
}

[data-m3-mode="teal-DT"] {
  --m3-schemes-surface: rgba(14, 21, 19, 1);
  --m3-schemes-outline-variant: rgba(63, 73, 70, 1);
  --m3-schemes-on-surface: rgba(221, 228, 225, 1);
  --m3-schemes-outline: rgba(136, 147, 143, 1);
  --m3-schemes-surface-container: rgba(26, 33, 31, 1);
}

[data-m3-mode="cyan-LT"] {
  --m3-schemes-surface: rgba(245, 250, 253, 1);
  --m3-schemes-outline-variant: rgba(191, 200, 204, 1);
  --m3-schemes-on-surface: rgba(23, 28, 30, 1);
  --m3-schemes-outline: rgba(112, 120, 124, 1);
  --m3-schemes-surface-container: rgba(234, 239, 241, 1);
}

[data-m3-mode="cyan-DT"] {
  --m3-schemes-surface: rgba(15, 20, 22, 1);
  --m3-schemes-outline-variant: rgba(64, 72, 75, 1);
  --m3-schemes-on-surface: rgba(222, 227, 230, 1);
  --m3-schemes-outline: rgba(138, 146, 149, 1);
  --m3-schemes-surface-container: rgba(27, 32, 34, 1);
}

[data-m3-mode="blue-LT"] {
  --m3-schemes-surface: rgba(250, 248, 255, 1);
  --m3-schemes-outline-variant: rgba(197, 198, 208, 1);
  --m3-schemes-on-surface: rgba(26, 27, 33, 1);
  --m3-schemes-outline: rgba(117, 119, 128, 1);
  --m3-schemes-surface-container: rgba(238, 237, 244, 1);
}

[data-m3-mode="blue-DT"] {
  --m3-schemes-surface: rgba(18, 19, 24, 1);
  --m3-schemes-outline-variant: rgba(68, 70, 79, 1);
  --m3-schemes-on-surface: rgba(226, 226, 233, 1);
  --m3-schemes-outline: rgba(143, 144, 154, 1);
  --m3-schemes-surface-container: rgba(30, 31, 37, 1);
}

[data-m3-mode="indigo-LT"] {
  --m3-schemes-surface: rgba(252, 248, 255, 1);
  --m3-schemes-outline-variant: rgba(200, 197, 208, 1);
  --m3-schemes-on-surface: rgba(28, 27, 33, 1);
  --m3-schemes-outline: rgba(120, 118, 128, 1);
  --m3-schemes-surface-container: rgba(240, 236, 244, 1);
}

[data-m3-mode="indigo-DT"] {
  --m3-schemes-surface: rgba(19, 19, 24, 1);
  --m3-schemes-outline-variant: rgba(71, 70, 79, 1);
  --m3-schemes-on-surface: rgba(229, 225, 233, 1);
  --m3-schemes-outline: rgba(145, 143, 154, 1);
  --m3-schemes-surface-container: rgba(32, 31, 37, 1);
}

[data-m3-mode="purple-LT"] {
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(203, 196, 207, 1);
  --m3-schemes-on-surface: rgba(29, 26, 32, 1);
  --m3-schemes-outline: rgba(122, 117, 127, 1);
  --m3-schemes-surface-container: rgba(243, 236, 244, 1);
}

[data-m3-mode="purple-DT"] {
  --m3-schemes-surface: rgba(21, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(74, 69, 78, 1);
  --m3-schemes-on-surface: rgba(231, 224, 232, 1);
  --m3-schemes-outline: rgba(149, 142, 153, 1);
  --m3-schemes-surface-container: rgba(33, 30, 36, 1);
}
